<!DOCTYPE html>
<html>
<head>
  <title>PicShare</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
   <%= render partial: nav_partial %>
   <% end %>
  </nav>

  <% [:notice, :alert].each do |type| %>
    <%= render partial: "shared/flash", locals: { type: type } %>
  <% end %>

<%= yield %>

</body>
</html>
